<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
     <servlet>
        <servlet-name>Recuperar</servlet-name>
        <servlet-class>Controller.Recuperar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controller.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>Controller.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>Controller.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>Controller.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearNuevoUsuario</servlet-name>
        <servlet-class>Controller.CrearNuevoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarioModificar</servlet-name>
        <servlet-class>Controller.ListaUsuarioModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Controller.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Controller.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearProducto</servlet-name>
        <servlet-class>Controller.CrearProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProducto</servlet-name>
        <servlet-class>Controller.EditarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Controller.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceso</servlet-name>
        <servlet-class>Controller.Acceso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/categorias</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/eliminar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/editar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearNuevoUsuario</servlet-name>
        <url-pattern>/crearNuevoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/editarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/eliminarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearProducto</servlet-name>
        <url-pattern>/crearProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProducto</servlet-name>
        <url-pattern>/editarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceso</servlet-name>
        <url-pattern>/acceso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recuperar</servlet-name>
        <url-pattern>/recuperar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
